header {
    height: 110px;
    background-image: url(../Slike/nebo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 30px;
}

footer {
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-image: url(../Slike/trava1.jpg);
    background-repeat: round;
    font-size: 28px;
    
}

.pozadina {
    background-image: url(../Slike/pozadina.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0%;
    padding: 0%;
}
.vidljivost{
  
    margin:0px;
    padding: 16px;
    background-color:lightblue;
    opacity: 0.6;
    filter:alpha(opacity=60);
  }

